<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>
<p>Your Booking</p>
<ul>
<% @bookings.each do |booking| %>
<li>
<%= booking.stuff.name %>
<%= booking.date_starting %>
<%= booking.date_ending %>
</li>


<% end %>
</ul>
  <p>
    <%= link_to "Back to Stuffs", root_path, class:"btn btn-outline-primary" %>
  </p>
</div>
