<div class="container" style="height: 50vh">
  <%= link_to raw('<i class="fa-solid fa-arrow-left"></i>'), root_path, class: "mt-5 fleche" %>
  <p style="color: green"><%= notice %></p>
  <h1 style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 32px; font-weight: bold;">Profiles</h1>
  <h2 style="font-family: 'Helvetica Neue', Arial, sans-serif; text-align: center; font-size: 32px; font-weight: bold;">Your bookings</h2>
  <div class="cards">
  <% @bookings.each do |booking| %>
    <div class="card-category-profile" style="background-color: #f9f9f9; border: 1px solid #ddd; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
      <h3 style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 18px; font-weight: bold;"><%= booking.stuff.name %></h3>
      <p style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; color: #666;"><%= booking.stuff.category %></p>

      <% date_starting = booking.date_starting.to_date %>
      <% date_ending = booking.date_ending.to_date %>
      <% nbr_of_nights = (date_ending - date_starting).to_i %>
      <% total_price = booking.stuff.price * nbr_of_nights %>

      <p style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; color: #666;">Total Days: <%= nbr_of_nights %></p>
      <p style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; color: #666;">Total Price: <%= total_price %> €</p>
    </div>
  <% end %>
</div>


  </div>

  <div class="container bzr"style="margin-top: 100px;">

  <h3 style="font-family: 'Helvetica Neue', Arial, sans-serif; text-align: center; font-size: 32px; font-weight: bold;">Your stuffs</h3>
  <div class="cards">
  <% @stuffs.each do |stuff| %>
    <div class="card-category" style="background-color: #f9f9f9; border: 1px solid #ddd; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
      <h3 style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 18px; font-weight: bold;"><%= stuff.name %></h3>
      <p style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; color: #666;"><%= stuff.category %></p>
      <p style="font-family: 'Helvetica Neue', Arial, sans-serif; font-size: 14px; color: #333;">Price: <%= stuff.price %> €</p>
      <% if stuff.image.attached? %>
        <%= cl_image_tag stuff.image.key,class: "card-product img card-prof"  %>
      <% else %>
        <%= image_tag "multisport.jpg", alt: "sport", class: "card-product img card-prof" %>
      <% end %>
      <div style="text-align: right;">
        <%= link_to raw('<i class="fa-solid fa-trash"></i>'), stuff_path(stuff), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "bin", style: "color: #999; font-size: 16px;" %>
      </div>
    </div>
  <% end %>
</div>

</div>
