<div class="d-flex justify-content-center align-items-center form-container">
  <%= simple_form_for(@stuff) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :category, collection: ["Foot", "Basket", "Badminton", "Yoga", "Mini-golf", "volley-ball", "Ping pong", "Tennis", "Hand-ball", "Pilate"]%>
      <%= f.input :price %>
      <%= f.input :address %>
      <%= f.input :image, as: :file, input_html: { mime_type: 'image/*' } %>
    </div>


    <div class="form-actions btn-create">
      <%= f.submit "rent out a stuff", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
