<div class="d-flex justify-content-center">
  <h1>Stuffs</h1>
</div>

<br>
<br>
<div class="d-flex justify-content-center" >
  <%= link_to "New Stuff", new_stuff_path, class:"btn btn-outline-secondary" %>
</div>
<br>
<br>

<div style="display: flex;">
  <div class="cards" style="display: inline-grid; margin-block-end: auto;">
    <% @stuffs.each do |stuff| %>
      <div class="main">
        <%= link_to stuff_path(stuff) do %>
        <div class = "card">
          <img src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="">
          <div class="card-content">
            <%= render stuff %>
          </div>
        </div>
          <% end %>
      </div>
    <% end %>
  </div>

  <div style=" height: 100vh; width: 50%; margin-right: 10px; margin-left: 10px; position: relative; overflow: hidden; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
