<div class="container banner-change">
  <h1 class="title">Syner-loc</h1>
  <h1 class="title title-large">Syner-loc</h1>
  <div id="img-1" class="img-container">
    <img class="img" src="https://legislador43.com/wp-content/uploads/2017/05/ronaldo.jpg">
  </div>

  <div class="img-container second-animation">
    <img class="img" src="https://www.nikkansports.com/sports/golf/news/img/201910270000440-w500_1.jpg">
  </div>

  <div class="img-container third-animation">
    <img class="img" src="https://i.pinimg.com/originals/92/ea/1d/92ea1d95e3400673b267dc91e6d50786.jpg">
  </div>

  <div class="img-container fourth-animation">
    <img class="img nba" src="https://wallpapercave.com/wp/wp3639738.jpg">
  </div>

  <div class="img-container fifth-animation">
    <img class="img" src="https://i.pinimg.com/originals/3a/46/04/3a460496c87bdad2ecaaf815db5c27ac.jpg">
  </div>

  <div id="img-6" class="img-container sixth-animation">
    <img class="img" src="https://th.bing.com/th/id/OIP.RnYbvHKx2SeCCcAHSI5PLAHaK2?rs=1&pid=ImgDetMain">
  </div>

  <div id="img-7" class="img-container seventh-animation">
  <img src="https://cdn.midjourney.com/cdce8dc5-5159-4be2-a585-a4baf80ef2d0/0_3.webp" alt="syner logo">
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="d-flex justify-content-center">
  <h1 style="font-size: 60px;">Stuffs</h1>
</div>

<br>
<br>
<div class="d-flex justify-content-center" >
  <%= link_to "New Stuff", new_stuff_path, class:"btn btn-outline-secondary" %>
</div>
<br>
<br>

<div style="display: flex;">
  <div class="cards" style="display: inline-grid; margin-block-end: auto;">
    <% @stuffs.each do |stuff| %>
      <div class="main">
        <%= link_to stuff_path(stuff) do %>
        <div class = "card">
          <% if stuff.image.attached? %>
            <%= cl_image_tag stuff.image.key,class: "card-product img"  %>
          <% else %>
            <%= image_tag "multisport.jpg", alt: "sport", class: "card-product img" %>
          <% end %>
          <div class="card-content">
           <%= render stuff %>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>

  <div style=" height: 100vh; width: 50%; margin-right: 10px; margin-left: 10px; position: relative; overflow: hidden; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
