<div class="container">
<br>
<br>
<div class="card-product">
  <% if @stuff.image.attached? %>
   <%= cl_image_tag @stuff.image.key,class: "card-product img"  %>
   <% else %>
   <% end %>
  <div class="card-product-infos">
    <h2><%= @stuff.name.capitalize %>
    <p><%= @stuff.price %>$</p>
    <strong><%= @stuff.category %></strong></h2>
  </div>
</div>

  <h2>Book a stuff</h2>
  <%= simple_form_for [@stuff, @booking], data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :date_starting, as: :string, input_html: { data: { flatpickr_target: "startTime", action: "change->flatpickr#dynamicPrice" } } %>
    <%= f.input :date_ending, as: :string, input_html: { data: { flatpickr_target: "endTime", action: "change->flatpickr#dynamicPrice" }, id: 'end_time' } %>
    <p>Réservation pour <span data-flatpickr-target="totalNights">0</span> jours</p>
    <p>Prix total : <span data-flatpickr-target="totalPrice" data-unit-price="<%= @stuff.price %>">0</span> € </p>
    <%= f.submit 'Book', class: "btn btn-outline-info" %>
  <% end %>

<br>
<br>
  <% if current_user == @stuff.user%>
      <%=link_to "Delete", stuff_path(@stuff), data: { turbo_method: :delete, confirm: "Are you sure?" } %>
    <% else %>
    <% end %>


</ul>
<%= link_to "Back to stuffs", root_path, class:"btn btn-outline-primary" %>
<%= link_to "New Stuff", new_stuff_path, class:"btn btn-outline-secondary" %>



</div>
