<div class="container">
<br>
<br>

<h2>Book a stuff</h2>
<%= link_to raw('<i class="fa-solid fa-arrow-left"></i>'), root_path, class: "mt-5 fleche" %>
<div class="card-product-infos" style="display: flex; align-items: center;">
  <% if @stuff.image.attached? %>
    <%= cl_image_tag @stuff.image.key, class: "card-product img" %>
  <% else %>
    <!-- Ajoutez un message ou un contenu alternatif ici si aucune image n'est attachée -->
  <% end %>
  <div class="card-product" style="width: 650px;">
    <br>
    <h2><%= @stuff.name.capitalize %></h2>
    <h2><%= @stuff.category %></h2>

    <p><%= @stuff.price %>€/day</p>
  </div>
</div>

  <% if current_user == @stuff.user %>
  <%= link_to raw('<i class="fa-solid fa-pen-to-square"></i>'), edit_stuff_path(@stuff) %>
  <% else %>

  <%= simple_form_for [@stuff, @booking], data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :date_starting, as: :string, input_html: { data: { flatpickr_target: "startTime", action: "change->flatpickr#dynamicPrice" } } %>
    <%= f.input :date_ending, as: :string, input_html: { data: { flatpickr_target: "endTime", action: "change->flatpickr#dynamicPrice" }, id: 'end_time' } %>
    <p>Reservation for <span data-flatpickr-target="totalNights">0</span> days</p>
    <p>Total price : <span data-flatpickr-target="totalPrice" data-unit-price="<%= @stuff.price %>">0</span> € </p>
    <%= f.submit 'Book', class: "btn btn-outline-info" %>
  <% end %>
  <% end %>
<br>
<br>
  <% if current_user == @stuff.user%>
      <%= link_to raw('<i class="fa-solid fa-trash"></i>'), stuff_path(@stuff), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "bin", style: "color: #999; font-size: 16px;" %>
    <% else %>
    <% end %>


</ul>


</div>
