<div class="container">
<br>
<br>
<%= link_to raw('<i class="fa-solid fa-arrow-left"></i>'), root_path, class: "mt-5 fleche" %>
<div class="card-product">
  <% if @stuff.image.attached? %>
   <%= cl_image_tag @stuff.image.key,class: "card-product img"  %>
   <% else %>
   <% end %>
  <div class="card-product-infos">
    <h2><%= @stuff.name.capitalize %>
    <p><%= @stuff.price %>$</p>
    <strong><%= @stuff.category %></strong></h2>
  </div>
</div>

  <h2>Book a flat</h2>
  <%= simple_form_for [@stuff, @booking], data: { controller: 'flatpickr' } do |f| %>
  <%= f.input :date_starting, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
  <%= f.input :date_ending, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
  <%= f.submit 'Book', class: "btn btn-outline-info" %>
<% end %>

<br>
<br>
  <% if current_user == @stuff.user%>
      <%=link_to "Delete", stuff_path(@stuff), data: { turbo_method: :delete, confirm: "Are you sure?" } %>
    <% else %>
    <% end %>


</ul>

</div>
