<h2><%= @stuff.name %></h2>
<p><%= @stuff.price %></p>
<p><%= @stuff.category %></p>
  <%= link_to "Delete", stuff_path(@stuff), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class:"btn btn-outline-danger"  %>


</ul>
<%= link_to "Back to stuffs", root_path, class:"btn btn-outline-primary" %>
<%= link_to "New Stuff", new_stuff_path, class:"btn btn-outline-secondary" %>
