<!DOCTYPE html>
<html>
  <head>
    <title>SynerLoc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  </head>

  <body style="background-color: #C499F3">
   <%= render "shared/navbar" %>
   <div class="escape-navbar">
      <%= yield %>
   </div>

    <footer>
    <%= render "shared/footer" %>
    </footer>
  </body>
</html>
